---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import Pill from '../components/Pill.astro';

const skills = [
	'Video Editing',
	'Adobe Suite',
	'Web Development',
	'Creative Thinking',
	'People Person'
]
---

<BaseLayout title="About | Aviv Roas" description="About Aviv Roas Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for dropping by! Feel free to scroll down and get to know a bit more about me and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Aviv Roas at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content gap-2 stack">
					<p>
						Content creator and video editor with experience in leading editing software such as Adobe Premiere Pro, Photoshop, and After Effects. 
					</p>
					<p>
						Passionate about creativity and thinking outside the box, I guide projects from planning through shooting and editing. I produce a variety of content, particularly videos tailored for social media.
					</p>
					<p>
						I am a graduate of professional video editing courses with experience in technological development, including independent learning and problem-solving skills.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content flex gap-4 wrap">
					{skills.map(skill=>(
						<Pill>
							<p>{skill}</p>
						</Pill>
					))}
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<blockquote>Advanced Video Editing Course-Premiere Pro</blockquote>
					<img src="/assets/mentor-adv.jpg" alt="A graduation certificate from a video editing course" >
					<br/>
					<br/>
					<blockquote>Video Editing Course-Premiere Pro (completed with honors)</blockquote>
					<img src="/assets/mentor-bg.png" alt="A graduation certificate from a video editing course" >
					<br/>
					<br/>
					<blockquote>Fullstack Web Development</blockquote>
					<img src="/assets/coding-certificate.jpg" alt="A graduation certificate from a video editing course" >
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	.content :global(img) {
		border-radius: 1.5rem;
		box-shadow: var(--shadow-sm);
		background: var(--gradient-subtle);
		border: 1px solid var(--gray-800);
		max-width: min(30rem, 100%);
	}

	.content :global(blockquote) {
		font-size: var(--text-lg);
		font-family: var(--font-brand);
		font-weight: 600;
		line-height: 1.1;
		padding-inline-start: 1.5rem;
		border-inline-start: 0.25rem solid var(--accent-dark);
		color: var(--gray-0);
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
